table{
	border: 3px solid #99ffdd;
	text-align:center;
	border-spacing:5px;
	border-radius: 15%;
}

a:visited, a:link {
	color:#66b3ff;
	text-decoration:none;	
}

a:hover{
	text-decoration:underline;
	background-color:#ffe6ff;
	color:#00ff99;
}

h1{
	font-family: "Century Gothic";
	color:#cc99ff;
	text-align:center;
	border:4px dashed #6666ff;
	width:350px;
	margin: auto;
	border-radius: 20%;
	background-color:#ccffff;
	opacity: 0.8;
}

body{
	background: url(images/Sky.gif);
	background-repeat:no-repeat;
	background-size:cover;
}

#me {
    display: block;
    margin: auto;
	border-radius: 50%;
	border: 3px solid #99ffdd;
}

div {
	color:#4d4dff;
	text-align:center;
	border: 2px solid #6666ff;
	width:500px;
	margin:auto;
	border-radius: 20%;
	background-color:#ccffff;
	font-family: Helvetica;
	opacity: 0.8;
}

span{
	font-size: 30px;
	font-family: Helvetica;
	color:#9966ff;
}

img {
	border:4px dotted #99ffdd;
	display: block;
    margin: auto;
	border-radius:20%;
	
}	
